body {
    background-color: white;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
  }

header {
    background-color: #000;
}

/*Nav styling*/

a:link {
    text-decoration: none;
    font-weight: bold;
    color: lightgray;
}

a:visited {
    text-decoration: none;
    color: lightgray;
}

li {
    list-style-type: none;
}

.hamburger-label {
    color: white;
}



#faSearchIcon {
    color: darkgray;
}

/*Home page stylig*/

.main-home {
    display: flex;
    flex-direction: column;
}

.main-fig {
    padding: 0;
    margin: 0;
    align-self: center;
}

img {
    max-width: 100%;
}

.main-h1 {
    text-align: center    ;
}

.carousel-a-link:link {
    color: black;
}

.carousel-a-link:visited {
    color: black;
}

/*Blogs page styling*/

.blog-head {
    color: black;
}

.blog-a-link:link {
    color: black;
}

.blog-a-link:visited {
    color: black;
}

.blog-img {
    border-radius: 3px;
}

/*Contact Form Styling*/

.formContainer {
    display: flex;
    justify-content: center;
    padding: 0 50px;
}

form {
    padding: 2em;
    background: white;
    max-width: 100%;
}

input {
    width: 100%;
    margin-top: 3px;
    padding: 8px;
    font-size: 15px;
}

label {
    display: block;
    margin-top: 1rem;
}

.form-button {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

button {
    background: black;
    border: none;
    width: 180px;
    padding: 10px;
    color: white;
    margin-top: 8px;
    cursor: pointer;
    border-radius: 5px;
}

.validation-error {
    display: none;
    color: red;
}

.loading {
    border: 5px solid gray;
    border-top: 5px solid darkgray;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite; 
}

/*About styling here*/

.about-profil-img {
    border: solid 1px black;
}

.about-h1 {
    text-align: center;
}

.about-container {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-right: 40px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*media queries here*/

@media only screen and (min-width:991px) {

/*nav styling*/

    .header {
        margin: 0;
        padding: 0;
    }

    .top-navigation {
        display: grid;
        grid-template-columns: 69px auto;
        margin: -14px 0px;
    }

    .hamburger-label {
        display: none;
    }

    #hamburger-checkbox {
        display: none;
    }

    .top-menu {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 2fr 1fr;
        margin-top: 0;
        margin-bottom: 0;
        padding: 0;
    }

    .logo-a {
        border-right: solid dimgray 1px;
    }

    .logo-text {
        padding: 14px 0px 11px 14px;
    }

    .logo {
        display: none;
    }

    .navelement1 {
        grid-column: 5/6;
        display: grid;
    }

    .navelement2 {
        grid-row-start: 1;
        border-right: solid dimgray 1px;
        padding-top: 22px;
        padding-bottom: 22px;
        align-self: center;
        text-align: center;
    }

    #active {
        background-color: dimgray;
    }

    .nav-search {
        display: flex;
    }

    #search {
        height: 30px;
        margin: 0;
        background-color: black;
        border-color: black;
        align-self: center;
    }

    .searc_icon {
        align-self: center;
        padding-right: 15px;
    }

    .icon-copy-container {
        grid-column-end: 7;
        align-self: center;
        text-align: center;
        margin: 0;
    }

    .icon-copy-nav {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
        flex-direction: column
        padding: 0;
    }
    
    .icon-link {
        border-left: solid dimgray 1px;
        padding: 22px 22px 22px 22px;
        align-self: center;
        margin: 0;
    }

    .icon-style {
        align-self: center;
    }

    .icon-copy-line-between {
        display: none;
    }

    .copy-nav {
        display: none;
    }

    /* #active {
        background-color: dimgray;
    } */

/*home styling here*/


}



@media only screen and (min-width:600px) and (max-width:990px) {

}

@media only screen and (min-width:200px) and (max-width:599px) {
    .top-menu {
        display: none;
    }

    #hamburger-checkbox {
        display: none;
    }

    #hamburger-checkbox:checked ~ .top-menu {
        display: grid;
        grid-column: 1/4;
        padding-left: 0;
        margin-top: 0;
        margin-bottom: 0;
    }
    
    .hamburger-label {
        display: flex;
        justify-content: flex-end;
        color: white;
        grid-column: 3/4;
        align-self: center;
        font-weight: bold;
        margin-top: 0px;
        font-size: 32px;
        padding-right: 12px;
    }

        
    .top-navigation {
        display: grid;
        grid-template-columns: 20% 1fr 20%;
        grid-template-rows: auto auto;    
    }
    
    .logo {
        grid-column: 1/2;
        align-self: center;
        padding-left: 10px;
        padding-bottom: 8px;
        padding-top: 10px;
    }
    
    .logo-text {
        display: none;
    }

    .navelement1 {
        background-color: #000;
        border:  solid black 3px;
        padding-top: 5px;
        padding-bottom: 10px;
        border-top: solid 1px darkgray;
        border-bottom: solid 1px darkgray;
        margin-bottom: 18px;
        margin-top: 15px;
    }

    .nav-search {
        display: flex;
        justify-content: space-between;
    }

    #search {
        background-color: black;
        border-color: black;
    }

    .searc_icon {
        padding-top: 15px;
        padding-right: 8px;
    }

    .navelement2 {
        padding-left: 11px;
        padding-top: 12px;
    }

    .icon-copy-container {
        display: grid;
        grid-template-columns: 20px auto 20px;
        grid-template-rows: auto 20px 1 20px auto;
        background-color: black;
        padding-bottom: 15px;
        border-top: 1px solid lightgray;
        margin-top: 30px;
    }

    .icon-copy-nav {
        grid-column: 2/3;
        display: flex;
        justify-content: space-between;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 30px;
    }

    .icon-copy-line-between {
        grid-column: 1/4;
        grid-row: 3/4;
        border-top: solid lightgray 1px;
        margin-top: 50px;
    }

    .copy-nav {
        grid-column: 2/3;
        grid-row: 5/6;
        display: flex;
        justify-content: center;
        color: white;
    }

    .footer-container {
        display: grid;
        grid-template-columns: 20px auto 20px;
        grid-template-rows: auto 20px 1 20px auto;
        background-color: black;
        padding-bottom: 15px;
    }

    .footer-nav {
        grid-column: 2/3;
        display: flex;
        justify-content: space-between;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 30px;
    }

    .footer-line-between {
        grid-column: 2/3;
        grid-row: 3/4;
        border-top: solid lightgray 1px;
        margin-top: 0px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .copy-foot {
        grid-column: 2/3;
        grid-row: 5/6;
        display: flex;
        justify-content: center;
        color: white;
    }

/*home styling here*/

    .main-fig-container {
        position: relative;
        text-align: center;
    }

    .main-image-nametext {
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 20px;

    }

    .main-image-jobb-title {
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        border-bottom: solid 1px white;
    }

    .main-image-h1 {
        position: absolute;
        top: 70%;
        left: 30%;
        transform: translate(-20%, -40%);
        color: white;
        font-size: 30px;
        text-align: center;
    }

    .main-h2 {
        text-align: center;
        padding-top: 30px;
    }

    .carousel-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-left: 10px;
        margin-right: 10px;
    }

    .new-post-container {
        display: flex;
        max-width: 60px;
    }

    .carousel-img {
        max-width: 60px;
    }

    .carousel-head {
        font-size: 10px;
        max-width: 60px;
        text-align: center;
    }

    .highlights-container {
        display: grid;
        grid-template-columns: 20px auto 20px;
        grid-template-rows: auto auto 5px 1px 40px auto;
        padding-bottom: 50px;
    }

    .highlights-h2 {
        background-color: black;
        color: white;
        grid-column: 1 / 4;
        display: flex;
        justify-content: center;
        padding: 30px 0 50px 0;
    }

    .highlight-img1 {
        grid-column: 2/3;
        grid-row: 2 / 3;
        margin-top: -50px;
        position: relative;
    }   

    .highlight-img2 {
        grid-column: 2/3;
        grid-row: 6 / 7;
        position: relative;
    }   

    .image-desciption {
        position: absolute;
        bottom: 8px;
        right: 16px;
        color: white;
    }

    .linebetween {
        grid-column: 2/3;
        grid-row: 4/5;
        border-top: solid darkgray 1px;
    }

    /*Blogs page styling here*/
    .blogs-h1 {
        text-align: center;
    }

    .black-space-blogs {
        background-color: black;
        padding: 50px;
    }

    .blogs-container {
        margin-left: 30px;
        margin-right: 30px;
        margin-top: -70px;
    }

    #blog-p {
        padding-bottom: 20px;
        border-bottom: solid lightgray 1px;
        margin-bottom: 20px;
    }

    /*blogs spesific styling here*/

    .details-container {
        margin-left: 40px;
        margin-right: 40px;
        margin-bottom: 40px;
    }

    .blog-spesific-h1 {
        margin-top: 30px;
        margin-bottom: -10px;
    }

    .blog-spefic-p-excerpt {
        color:red;
    }

    /*About styling here*/

    .about-h1 {
        margin-top: 60px;
        margin-bottom: 30px;
    }

    .about-h2 {
        margin-top: 30px;
        margin-bottom: 0px;
    }

    .about-p {
        margin-top: 15px;
        margin-bottom: 60px;
    }

}

